.main {
    max-width: 1110px;;
    margin:10px auto;
}
.card {
    margin: 10px auto;
}
.text-indent {
    text-indent: 2em;
}

.form-group {
    max-width: 610px;
    width: 610px;
    padding: 20px;
    margin: 50px auto;
    border: 2px solid #333;
    border-radius: 4px;
    box-shadow: 8px 8px 4px #33333333;

    textarea {
        margin: 8px 0;
        resize: none;
    }
}
